.menu {
  background-color: cadetblue;
  text-align: center;
  padding: 15px 0;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1;
  font-weight: bold;
}

.menu .menuItem {
  display: inline-block;
  margin: 0 30px;
}

.menu .menuItem a {
  color: #fff;
  text-decoration: none;
}
