.table-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-inline: 1rem;
  height: calc(100% - 3rem);
  width: calc(100% - 5rem);
}
.global-search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3rem;
  margin-inline-end: 6rem;
  gap: 1rem;
}
.global-search input {
  height: 2rem;
  width: 20%;
  border: 1px transparent;
  background: var(--nav-color);
  padding-inline: 10px;
  border-radius: 15px;
}
.table-box {
  max-height: calc(100% - 8rem);
  overflow: overlay;
  border-top-left-radius: 10px;
}
.table-no-pagination {
  max-height: 100%;
}
table {
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th,
tfoot td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: var(--primary-color-light);
  color: white;
}

.pagination {
  height: 3rem;
  border: 1px solid #dddddd;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-inline-end: 5rem;
  gap: 1rem;
  color: var(--secondary-text-color);
}
.pagination button {
  width: 2rem;
  border: transparent;
  background: transparent;
  font-size: 24px;
  font-weight: 600;
}

.pagination .page-count-select {
  width: 6rem;
  border: 1px solid var(--body-color);
  color: var(--secondary-text-color);
  font-size: 16px;
  font-weight: 400;
}

.action-field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 12px;
  color: "#818f9a";
  margin-inline: 2rem;

  label {
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
  }
}

.wallet-cell-action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-field .action-button,
.wallet-detail-action-button {
  display: flex;
  color: rgb(129, 143, 154);
  margin-inline: 1rem;
  gap: 5px;
  cursor: pointer;
  font-size: 22px;
}

.validation-cell {
  color: var(--primary-text-color);
  text-align: center;
  margin-top: 6px;
}

.validation-cell .error {
  color: red;
  font-size: 22px;
  margin-right: 10px;
}

.validation-cell .success {
  color: green;
  font-size: 22px;
  margin-right: 10px;
}

.no-records-info {
  display: grid;
  text-align: center;
  margin: auto;
  font-size: 28px;
  font-weight: 500;
  color: var(--secondary-text-color);

  .no-records-info__icon {
    font-size: 50px;
    color: var(--secondary-text-color);
  }
}
