#ag-grid-container {
  height: calc(100% - 5rem);
  width: 97%;
  margin: 1rem 1rem;
}
.ag-theme-alpine {
  --ag-header-foreground-color: var(--primary-text-color);
  --ag-header-background-color: var(--nav-color);
  --ag-odd-row-background-color: var(--body-color);
  --ag-header-column-resize-handle-color: #818f9a;

  --ag-font-size: 16px;
  --ag-font-family: san-serif;
}

.ag-theme-alpine .ag-root-wrapper {
  border-radius: 1rem;
}

.ag-theme-alpine .ag-header-cell-text {
  margin-inline: auto;
}

.ag-theme-alpine .ag-paging-panel {
  color: #818f9a;
}

.ag-theme-alpine .ag-header-cell-resize {
  display: none;
}
