.name-field {
  display: grid;
  height: 4rem;
  justify-content: left;
  text-align: left;
}

.name-field .email {
  line-height: 0;
  margin-top: -10px;
  font-size: 12px;
}

.delete-user-text {
  font-size: 16px;
  color: rgb(0, 48, 51);
  letter-spacing: 0.5px;
}
